.p-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $theme1;
	padding-bottom: 25px;

	&__container {
		background-color: $theme5;
		background-image: url(images/footer-bg.png);
		background-position-y: -61px;

	}

	&__content-group {
		position: relative;
		max-width: $base_width;

		@include responsive($res950) {
			flex-direction: row-reverse;
		}
	}

	&__copy {
		display: block;
		width: 200px;
		text-align: center;
		font-size: 1.2rem;
		color: $white;
		padding-bottom: unit(2);

		@include responsive($res520) {
			padding-bottom: unit(1);
		}

	}

	&__pagetop {
		position: absolute;
		top: -29px;
		right: 32px;
		width: 58px;
		height: 29px;
		overflow: hidden;
		border-radius: $radius $radius 0 0;
		cursor: pointer;

		@include responsive($res1040) {
			right: 32px;
		}

		@include responsive($res520) {
			left: calc(50% - 29px);
		}

	}
}

.p-footer-nav {

	width: 440px;

	@include responsive($res1040) {
		width: 330px;
	}

	@include responsive($res950) {
		width: 275px;
		margin-left: 58px;
	}

	@include responsive($res520) {
		display: none;
	}

	&__list {
		display: grid;
		grid-template-columns: 126px 1fr;
		grid-template-rows: 36px 36px 36px;
		padding-top: 82px;

		a {
			display: block;
			color: #fff;
			letter-spacing: 0.15rem;
		}

		@include responsive($res950) {

			padding-top: 64px;
		}
	}

	&__place {

		width: 440px;
		padding: 82px 0 0 95px;

		@include responsive($res1040) {
			width: 330px;
			padding: 82px 0 0 64px;
		}

		@include responsive($res950) {
			display: none;
		}
	}

	&__logo {
		font-size: 1.1rem;
		width: 144px;
		padding: 41px 0 23px 0;


		@include responsive($res520) {
			width: 93px;
			padding: unit(1) 0 23px 0;
		}
	}

	&__chofu {

		margin-bottom: 26px;

		a {

			color: #fff;
			letter-spacing: 0.15rem;
		}
	}

	&__chofu-alt {

		@extend .p-footer-nav__chofu;
		display: none;

		@include responsive($res950) {
			display: flex;
			margin: 5px 0 0 0;
		}
	}

	&__chofu-logo {

		width: 24px;
		height: 23px;
		margin-left: 13px;

		@include responsive($res950) {
			display: none;
		}

	}

	&__address {

		font-size: 1.4rem;
		color: #fff;

		a {
			color: #fff;
			letter-spacing: 0.2rem;
		}
	}

}
