/*========================
* 下階層ヘッダ
========================*/
.p-guide-header {

	&__container {

		width: 100%;
		height: 48px;
		background-color: $theme1;

		@include responsive($res990) {
			height: 12px;
		}
	}

	&__copy {
		font-size: 1.5rem;
		line-height: 4.8rem;
		color: $white;
		text-align: center;
		letter-spacing: 0.2rem;
		margin-left: 23px;
	}

	&__contents {

		position: relative;
		max-width: $base-width;


	}

	&__logo {
		position: absolute;
		width: 112px;
		height: 120px;
		top: 0;
		right: 31px;
		z-index: 999999;
		overflow: hidden;
		border-radius: 0 0 10px 10px;

		@include responsive($res990) {

			width: 106px;
			height: 114px;
			top: 12px;
			right: auto;
			left: 32px;
		}

		@include responsive($res520) {
			width: 70px;
			height: 75px;
			left: 11px;
		}
	}

	&__badge {
		position: absolute;
		width: 118px;
		height: 118px;
		top: 8px;
		left: 46px;
		z-index: 999999;

		@include responsive($res990) {
			display: none;
		}
	}
}

