.p-h {

	&__page {

		width: $base-width;
		padding: 51px 0 0 262px;
		letter-spacing: 0.4rem;

		@include text-shadow(6px,0.5);
	}

	&__article {

		display: inline-block;
		background-image: url(/images/h_cloud.gif), url(/images/h_cloud.gif);
		background-repeat: no-repeat, no-repeat;
		background-position: top left, bottom right;
		padding: 0 60px;
		letter-spacing: 0.2rem;
	}

	&__content1 {

	}

	&__content2 {

	}

	&__lv1 {

	}
}
