/*========================
* 下階層ヘッダ
========================*/
.p-header {

	&__container {

		width: 100%;
		height: 56px;
		background-color: $theme1;
	}

	&__contents {

		position: relative;
		width: $base-width;
	}

	&__logo {
		position: absolute;
		width: 146px;
		height: 162px;
		top: 0;
		left: 46px;
		z-index: 999999;
		overflow: hidden;
		border-radius: 0 0 10px 10px;
	}

	&__badge {
		position: absolute;
		width: 87px;
		height: 87px;
		top: 18px;
		right: 31px;
	}
}


.p-header-title {

	width: 100%;
	height: 139px;
	background-image: url(/images/second-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/*========================
* ナビ
========================*/

.p-header-nav {

	&__list {

		width: 100%;
		height: 56px;
		padding-left: 190px;

		> li {

			position: relative;
			margin: 0 20px 0 21px;

			> a {

				@include textFactory(1.4rem,$white,"regular",$space-unit);
				letter-spacing: 0.1rem;

			}

			> a:hover {
				color: #7d8d71;
			}

			::after {
				position: absolute;
				content: url(/images/second_nav_point.gif);
				top: -2px;
				right: -25px;
			}

		}

		> li:last-child {

			::after {
				content: none;
			}
		}

		> li.--current {

			a {
				color: #7d8d71;
			}
		}

	}


}

/*========================
* パンクズ
========================*/

.p-header-pan {

	width: $base-width;

	@include respBG("/images/pankuzu-head.gif","left",75%,53px,28px);

	margin-top: unit(1);
	margin-bottom: unit(1);

	li {

		::after {
			content: ">";
			margin: 0 10px;
		}

		&:last-child {

			a {
				color: $theme3;
			}

			::after {
				content: "";
			}
		}
	}

	a {

		@include textFactory(1.4rem,$black,"bold",2.8rem);
		letter-spacing: 0.1rem;
	}


}
