
/*========================
* モバイルナビ
========================*/

.p-mobile-nav-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	z-index: 99999999;

	display: none;

	@include responsive($res990) {
		display: block;
	}
}

.p-mobile-nav-container {
	position: fixed;/*IE Fallback*/
	position: sticky;
	width: 100%;
	height: 12px;
	top: 0;
	left: 0;
	pointer-events: auto;
	background-color: $theme1;
	z-index: 9999999;

	&__btn {

		position: absolute;
		top: 0;
		right: 30px;
		width: 54px;
		height: 51px;
		overflow: hidden;
		z-index: 99999999;

		@include responsive($res715) {
			right: 16px;
		}

		@include responsive($res520) {
			width: 43px;
			height: 41px;
		}
	}
}

.p-mobile-nav {

	display: none;
	position: absolute;
	width: 100%;
	top: 12px;
	left: 0;

	&__full {
		display: none;
		pointer-events: auto;
		background-color: transparent;
	}

	&__list {

		width: 100%;
		text-align: center;
		background-color: $white;

		> li {

			position: relative;
			padding: 18px 0 4px 0;
			margin-bottom: 10px;
			border-bottom: solid 1px $gray1;

			> a {

				@include textFactory(1.6rem,$text2,"bold",$space-unit);
				letter-spacing: 0.1rem;
			}

			> a:hover {
				color: $theme3;
			}

			&:first-child {

				padding: 41px 0 4px 0;
			}
		}

	}

}
