.p-side-indent {

	max-width: $base-width;
	padding: unit(2) 0 0 26px;

	@include responsive($res1040) {

		padding: unit(1.25) 0 0 0;
	}

}

.p-both-indent {

	max-width: $base-width;
	padding: unit(2) 90px 0 90px;

	@include responsive($res1040) {

		padding: unit(1.25) 0 0 0;
	}

}

.p-full {

	max-width: $base-width;
}
