/*========================
* ヘッダ要素
========================*/
.p-top-header {

	position: relative;
	width: 100%;
	border: none;
	padding: 0;

	&__copyline {
		position: absolute;
		width: 100%;
		height: 12px;
		top: 0;
		left: 0;
		background-color: $theme1;
		z-index: 999999;
	}

	&__logo {
		position: absolute;
		width: 15.8vw;
		height: 17.5vw;
		top: 12px;
		left: calc(50% - 26.8%);
		transform: translateX(-50%);
		z-index: 999999;
		overflow: hidden;
		border-radius: 0 0 10px 10px;

		@include responsive($res715) {
			width: 25.8vw;
			height: 28.5vw;
			left: calc(50% - 30.8%);
		}
	}

	&__badge {
		position: absolute;
		width: 8vw;
		height: 8vw;
		top: 37vw;
		left: calc(50% + 31vw);
		transform: translateX(-50%);
		z-index: 999999;

		@include responsive($res715) {
			width: 17vw;
			height: 17vw;
			top: 21vw;
			left: calc(50% + 30vw);
		}
	}

	&__onepoint {
		position: absolute;
		width: 4.5vw;
		max-width: 65px;
		height: 2.4vw;
		top: 46.3vw;
		left: calc(50% - 1.69vw);

		@include responsive($res715) {

			width: 6.5vw;
			left: calc(50% - 2.8vw);
		}

		@include responsive($res520) {

			width: 8.3vw;
			top: 51vw;
			left: calc(50% - 3.5vw);
		}
	}

}

/*========================
* メインビジュアル
========================*/
.p-top-header-main {
	position: relative;
	width: 100%;
	height: calc(100vw * 0.486);
	box-sizing: content-box;
	padding-top: 10px;

	&__image {
		width: 100%;
		height: 100%;
	}

	&__mask {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

}

/*========================
* ナビ
========================*/

.p-top-header-nav {

	margin-bottom: unit(2);

	&__list {

		width: 100%;
		text-align: center;

		@include responsive($res990) {

			display: none;
		}

		> li {


			&:first-child {
				padding-left: 48px;

			}

			position: relative;
			margin: 30px 28px 0 19px;

			> a {

				@include textFactory(1.6rem,$text2,"bold",$space-unit);
				letter-spacing: 0.1rem;

			}

			> a:hover {
				color: $theme3;
			}

			::after {
				position: absolute;
				content: url(images/top_nav_point.gif);
				top: -2px;
				right: -25px;

			}

		}

		> li:last-child {

			::after {
				content: none;
			}
		}
	}

}

