.p-content-about {

	background-image: url(images/about-cloud-bg.gif);
	background-repeat: no-repeat;
	background-position: top 425px right calc(50% + -536px);

	@include responsive($res950) {

		background-image: none;
	}
}

/*ご挨拶*/
.p-content-greet {

	max-width: $base-width;
	padding: unit(2) 0 unit(4) 0;

	@include responsive($res800) {

		display: block;
	}

	&__profile {

		position: relative;
		width: 320px;
		margin-right: 60px;
		padding-top: headshift(1.6rem);

		@include responsive($res800) {

			width: 100%;
			margin-right: 0;
			margin-bottom: unit(2);
		}

	}

	&__image {

		height: auto;
		overflow: hidden;
		border-radius: $radius;
		line-height: 0;
	}

	&__text {
		flex: 1;
		max-width: 644px;
	}

	&__signature {
		font-weight: 700;
	}

	&__name {
		padding-left: 0.5rem;
		font-size: 1.8rem;
	}

	&__left-cloud {

		position: absolute;
		width: 218px;
		height: 100px;
		top: -45px;
		left: -23px;

		@include responsive($res800) {

			width: 200px;
			top: -36px;
			left: -14px;
		}
	}

	&__right-cloud {
		position: absolute;
		width: 235px;
		height: 111px;
		top: 288px;
		right: -45px;

		@include responsive($res800) {

			top: auto;
			width: 199px;
			bottom: -66px;
			right: -23px;
		}
	}
}

/*こだわり*/

.p-content-commit {

	max-width: $base-width;
	padding: unit(2) 0 unit(3) 0;

	@include responsive($res800) {

		display: block;
	}


	&__text {

		max-width: 672px;
		flex: 1;
	}

	&__image {
		width: 320px;
		margin-left: 32px;
		line-height: 0;

		@include responsive($res800) {

			width: 100%;
			margin-left: 0;
			margin-top: unit(1);
		}
	}

}

/*調布*/

.p-content-with-chofu {

	margin-top: unit(2);

	&__text {

		max-width: $base-width;


		@include responsive($res1040) {

			padding: 0 32px;
		}
	}

	&__img {

		width: 100%;
		height: unit(14);
		margin-top: unit(2);
		background-image: url(images/about-chofu.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
	}
}
