.p-content-eventlist-item {

	padding-bottom: unit(1);
	margin-bottom: unit(1);
	border-bottom: solid 1px $gray1;

	&:last-child {
		border: none;
	}

	a {
		color: $theme1;
	}

	&__fig {
		width: 223px;
		margin-right: 32px;
		border-radius: $radius;
		line-height: 0;
		overflow: hidden;
	}

	&__description {

		max-width: 734px;
	}
}
