#guide-map {

	width: 100%;
	height: calc(100vh - 48px);

	@include responsive($res520) {

		height: calc(100vh - 130px);
	}
}

/*========================
* nav
========================*/

.p-guide-nav {

	position: absolute;
	top: 71px;
	left: calc(50% - 263px);
	width: 600px;
	overflow: hidden;
	margin-left: -28px;
	border-radius: 50px;
	padding: 2px;
	background-color: $white;
	z-index: 999999;

	@include shadow(5px,0.5);

	@include responsive($res990) {

		top: 67px;
		margin-left: 32px;
	}

	@include responsive($res800) {
		width: 153px;
		border-radius: $radius;
		display: block;
		top: auto;
		left: 32px;
		bottom: 388px;
		margin: 0;
	}


	@include responsive($res520) {

		top: auto;
		left: 21px;
		bottom: 309px;
	}

	&__item {

		width: 149px;

		label.checked {

			color: $white;
			background-color: $theme1;
			border-right: solid 1px $white;

			@include responsive($res800) {

				border-right: none;
				border-bottom: solid 1px $white;
			}
		}

		label {

			display: block;

			@include ff2;
			font-size: 1.4rem;
			letter-spacing: 0.3rem;
			color: $theme1;
			background-color: $white;
			padding-top: 2px;
			width: 149px;
			height: 32px;
			text-align: center;
			user-select: none;
			border-right: solid 1px $theme1;

			@include responsive($res800) {

				border-right: none;
				border-bottom: solid 1px $theme1;
			}
		}

		_:-ms-input-placeholder,
		label {
			padding-top: 5px;
		}


		&:last-child {

			border: none;

			label {

				border-radius: 0 50px 50px 0;
				border: none;

				@include responsive($res800) {

					border-radius: 0 0 $radius $radius;
				}
			}

			label.checked {
				border: none;
			}
		}


		&:first-child {

			label {

				border-radius: 50px 0 0 50px;

				@include responsive($res800) {

					border-radius: $radius $radius 0 0;
				}
			}
		}

		input {
			display: none;
		}

	}

}

/*========================
* panel
========================*/
.p-guide-panel {

	display: none;
	position: absolute;
	top: calc(100vh - 283px);
	left: 0;
	width: 100%;
	z-index: 99999999;
	padding: 0 40px;


	@include responsive($res670) {
		top: 90px;
		padding: 0 42px;
	}

	&__container {
		position: relative;
		max-width: 932px;
		min-height: 190px;
		margin: 0 30px;
		background-color: $white;
		border-radius: $radius;
		padding: 23px 20px;

		@include shadow(7px,0.3);

		@include responsive($res670) {
			display: block;
		}
	}

	&__img {

		width: 200px;
		border-radius: $radius;
		line-height: 0;
		overflow: hidden;
		margin-right: 23px;

		@include responsive($res670) {
			width: 100%;
			margin: 0 0 1.6rem 0;
		}
	}

	&__content {

		max-width: 663px;
		flex: 1;

		h3 {
			margin-bottom: unit(1);
		}

	}

	&__close {

		position: absolute;
		width: 45px;
		height: 45px;
		top: -23px;
		right: -24px;
	}

	&__cloud {

		position: absolute;
		width: 198px;
		height: auto;
		bottom: -41px;
		left: -28px;

		@include responsive($res670) {
			width: 126px;
			bottom: auto;
			top: -21px;
			left: -11px;
		}
	}
}

/*========================
* GoogleMap
========================*/
.js-info-box {

	font-family:
		fot-tsukubrdgothic-std,
		"HiraginoSans-W3",
		"Hiragino Kaku Gothic ProN",
		"Hiragino Kaku Gothic Pro",
		"游ゴシック Medium",
		YuGothic,
		YuGothicM,
		"メイリオ",
		Meiryo,
		sans-serif !important;
	width: 155px;
	height: 37px;
	font-size: 1.8rem;
	position: relative;
	border-radius: 5px;
	text-align: center;
	pointer-events: none;

	&__inner {
		display: block;
		width: 100%;
		height: 100%;
	}
}

_:-ms-input-placeholder,
.js-info-box {

	@include ffie;
	padding-top: 5px;
}
