#guide-map {

	width: 100%;
	height: calc(100vh - 190px);
}


.js-info-marker {

	width: 1px;
	height: 1px;
	background-color: #f00;
}


.js-info-box {
	width: 155px;
	height: 32px;
	font-size: 1.8rem;
	position: relative;
	background: #96e5e4;
	border: 1px solid #fff;
	border-radius: 5px;
}

.js-info-box::after,
.js-info-box::before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.js-info-box::after {
	border-color: rgba(150, 229, 228, 0);
	border-top-color: #96e5e4;
	border-width: 8px;
	margin-left: -8px;
}

.js-info-box::before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
