#guide-map {

	width: 100%;
	height: calc(100vh - 190px);
}


.js-info-marker {

	width: 1px;
	height: 1px;
	background-color: #f00;
}


.js-info-box {

	font-family:
		fot-tsukubrdgothic-std,
		"HiraginoSans-W3",
		"Hiragino Kaku Gothic ProN",
		"Hiragino Kaku Gothic Pro",
		"游ゴシック Medium",
		YuGothic,
		YuGothicM,
		"メイリオ",
		Meiryo,
		sans-serif !important;
	width: 155px;
	height: 37px;
	font-size: 1.8rem;
	position: relative;
	border-radius: 5px;
	text-align: center;
	pointer-events: none;

	&__inner {
		display: block;
		width: 100%;
		height: 100%;
	}
}
