.p-content-info-wrapper {

	padding-top: unit(2);
	margin-bottom: unit(4);
	background-image: url(images/top-info-bg1.gif);
	background-repeat: no-repeat;
	background-position: top 0 left calc(50% + 479px);
}

.p-content-info {

	width: $base-width;
	margin-top: unit(2);

	&__listitem {
		width: 100%;

		a {
			line-height: unit(1);
		}

		&:nth-of-type(n+2) {
			margin-top: 9px;
		}
	}

	&__date {

		padding: 0 10px 9px 0;
		border-bottom: solid 1px $gray1;
		margin-right: 18px;

		a {
			font-weight: 700;
			color: $theme1;
		}
	}

	&__content {

		flex-grow: 2;

		padding: 0 10px 9px 0;
		border-bottom: solid 1px $gray1;

		a {
			color: $black;
		}
	}


}
