
.p-content-monthly {
	position: relative;

	background-image: url(images/top-menu-bg1.gif), url(images/top-menu-bg2.gif);
	background-repeat: no-repeat, no-repeat;
	background-position: top 6px left calc(50% + 684px), bottom 1px left calc(50% - 492px);

	padding-top: unit(2);
	padding-bottom: unit(3);

	@include responsive($res1040) {
		background-position: top 6px left calc(50% + 524px), bottom 1px left calc(50% - 425px);
	}

	@include responsive($res950) {
		background-image: none;
	}

	@include responsive($res520) {

		padding-top: 3.2rem;
		padding-bottom: 6.8rem;
	}

	&__lists {
		max-width: 677px;
	}

	&__container {

		position: relative;
		max-width: 677px;
		padding-top: unit(1);
	}

	&__fig {

		max-width: 677px;

	}

	&__image {

		overflow: hidden;
		border-radius: $radius;
	}

	&__text {

		display: block;
		text-align: justify;
		max-width: 385px;
		margin-top: unit(1);

		@include responsive($res520) {
			letter-spacing: 0.23rem;
			margin-top: unit(0.5);
		}

	}

	&__badge {
		position: absolute;
		top: 0;
		right: 30px;
		display: inline-block;
		background-image: url(images/top-menu-monthbg.png);
		background-color: $theme4;
		background-size: 80%;

		@include textFactory(3.6rem,$white,"regular",$space-unit);

		border-radius: $radius;
		padding: 1.4rem 1.6rem 1.8rem 1.6rem;
		letter-spacing: 0.3rem;
		z-index: 888;

		@include responsive($res520) {
			font-size: 3rem;
			padding-bottom: 1rem 1rem 1.4rem 1rem;
			right: 14px;
		}
	}

	&__nav {

		position: absolute;
		width: 61px;
		height: 61px;
		top: 234px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: 999;

		@include responsive($res950) {
			top: calc(50% - 50px);
		}

		@include responsive($res520) {
			top: calc(50% - 48px);
			width: 54px;
			height: 54px;
		}
	}

	&__back {

		@extend .p-content-monthly__nav;
		left: calc(50% - 454px);
		background-image: url(images/top-menu-back.gif);

		@include responsive($res950) {
			left: 16px;
		}

		@include responsive($res520) {
			left: -25px;
		}
	}

	&__next {

		@extend .p-content-monthly__nav;
		left: calc(50% + 390px);
		background-image: url(images/top-menu-next.gif);

		@include responsive($res950) {
			left: auto;
			right: 16px;
		}

		@include responsive($res520) {
			right: -25px;
		}
	}

	&__button {
		max-width: 685px;
		text-align: right;
		margin-top: unit(0.5);

		a {
			color: $white;
		}

		@include responsive($res520) {

			margin-top: 1.8rem;
		}
	}

	&__left-cloud {

		position: absolute;
		top: 24px;
		left: calc(50% - 480px);
		width: 251px;
		height: 121px;
		z-index: 999;

		@include responsive($res1040) {
			left: calc(50% - 462px);
		}

		@include responsive($res950) {
			display: none;
		}
	}

	&__right-cloud {

		position: absolute;
		width: 233px;
		height: 120px;
		top: 468px;
		left: calc(50% + 270px);
		z-index: 999;

		@include responsive($res1040) {
			left: calc(50% + 235px);
		}

		@include responsive($res950) {
			display: none;
		}
	}

}
