.p-content-event {

	max-width: $base-width;
	margin-top: unit(3);
	margin-bottom: unit(2);

	@include responsive($res520) {
		margin-top: 4.8rem;
		margin-bottom: 4.2rem;
	}

	a {
		color: $black;
	}

	&__list {
		max-width: $base-width;
	}

	&__listitem {
		width: 320px;
		margin-left: 32px;

		@include responsive($res1040) {

			width: 667px;
			margin: 0 auto;
		}


		&:last-child {
			margin-left: 0;

			@include responsive($res1040) {

				margin: 0 auto;
			}
		}
	}

	&__image {
		height: 280px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $radius;

		@include responsive($res1040) {

			height: auto;
			padding-top: 60%;
		}
	}

	&__text {

		padding-top: unit(1);
		text-align: justify;
		letter-spacing: 0.23rem;

		@include responsive($res1040) {

			padding-bottom: unit(2);
		}

		@include responsive($res520) {

			padding-top: 1.6rem;
			padding-bottom: 3.2rem;
		}
	}
}
