
.p-content-access {

	&__info {

		max-width: $base-width;
		margin-bottom: unit(1);

		a {
			color: $black;
		}

		@include responsive($res1040) {
			padding: 0 32px;
		}

		@include responsive($res715) {

			@include resMiniContainer;
			padding-bottom: unit(1);
		}

		@include responsive($res520) {

			display: block;
			margin: 0;
			padding: 0 32px unit(1) 32px;
		}
	}

	&__shopname {

		display: inline-block;
		padding: 0 15px 0 30px;

		@include responsive($res520) {
			display: block;
			padding: unit(1) 0 0 0;
		}
	}

	&__address {

		address {
			padding-right: 15px;
		}

	}

	&__map {

		width: 100%;
		height: 486px;
		background-color: $black;

		@include responsive($res520) {
			height: 223px;
		}
	}
}
