/*=========================
center
=========================*/
.u-center {
	margin-left: auto;
	margin-right: auto;
}

.u-i-center {
	text-align: center;
}

/*=========================
opacity hover
=========================*/
.u-hover {
	opacity: 1;

	&:hover {
		opacity: 0.8;
	}
}

/*=========================
relative
=========================*/
.u-rel {
	position: relative;
}

/*=========================
inner shadow
=========================*/

.u-ishadow {

	position: relative;


	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;

		@include inner-shadow(12px,0.12);
	}
}


/*=========================
mobile br
=========================*/
.u-pc-br {
	display: inline;
}

@include responsive($break_br) {

	.u-pc-br {
		display: none;
	}
}

/*=========================
z-index util
=========================*/
.u-z10k {
	z-index: 10000;
}

/*=========================
grid order
=========================*/
$grid-order-min: 1;
$grid-order-max: 20;

@for $i from $grid-order-min through $grid-order-max {

	.u-order#{$i} {

		order: #{$i};
	}
}

/*=========================
margin generator
=========================*/
$margin-min: 1;
$margin-max: 10;

@for $i from $margin-min through $margin-max {

	.u-mt#{$i} {
		margin-top: #{$i}px;
	}

	.u-mr#{$i} {
		margin-right: #{$i}px;
	}

	.u-mb#{$i} {
		margin-bottom: #{$i}px;
	}

	.u-ml#{$i} {
		margin-left: #{$i}px;
	}
}

.u-pb56 {

	padding-bottom: 56px;
}
