@charset "utf-8";

.l-flex {
    display: flex;
    flex-wrap: wrap;
}
.l-flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.l-flex-vcenter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
