@charset "utf-8";

.l-flex {
	display: flex;
	flex-wrap: wrap;
}

.l-flex-nw {
	display: flex;
	flex-wrap: nowrap;
}

.l-flex-r {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.l-flex-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.l-flex-vcenter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.l-flex-wcenter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.l-flex-both {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.l-flex-both-vcenter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
